<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Index Page</title>

</head>
<body>
<div>
<h2><a href="new_add">Add Student</a></h2>
<br/>
<table border="1">
 <thead>
 <tr>
 <td>Student Id</td>
 <td>Student name</td>
 <td>Student course</td>
 <td>Student fee</td>
 <td>Edit</td>
 <td>Delete</td>
 </tr>
 </thead>
 <tbody>
 <tr th:each="student : ${getAllStudent}">
 <td th:text="${student.id}">ID</td>
 <td th:text="${student.name}">Name</td>
 <td th:text="${student.course}">Course</td>
 <td th:text="${student.fee}">Fee</td>

 <td><a th:href="@{'/edit/' + ${student.id}}">Edit</a></td>

 <td><a th:href="@{'/delete/' + ${student.id}}">Delete</a></td>
 </tr>
 </tbody>
</table>
</div>
</body>
</html>