<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert New Student</title>
</head>
<body>
<div>
<h1>New Student Form</h1>
<br/>
<form th:object="${student}" th:action="@{/save_student}" method="post">
<table border="1">
 <tr>
 <td>Student name</td>
 <td><input type="text" th:field="*{name}" /></td>
 </tr>
 <tr>
 <td>Student course</td>
 <td><input type="text" th:field="*{course}" /></td>
 </tr>
 <td>Student fee</td>
 <td><input type="text" th:field="*{fee}" /></td>
 <tr>
 <td><button type="submit">Insert</button></td>
 </tr>
</table>
</div>
</body>
</html>
